body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    font-size: 18px;
}

footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
}
